.articles {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 50;
    background-color: #FFFFFF;
    margin-top: 1%;
 }

 .articles-hide-siderbar-head {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  padding-left: 20%;
  margin-top: 10%;
  .title {
    background-color: #FFFFFF;
    font-size: 26px;
    font-weight: 400;
  }
  .subtitle {
    font-size: 18px;
    font-weight: 300;
  }
}

 .articles-hide-siderbar {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 2;
    background-color: #FFFFFF;
    margin-top: 1%;
 }
 
 .articles-row {
    padding-left: 10%;
    padding-right: 10%;
 }


.article-card {
    width: 500px;
    border: none;
    margin-top: 2%;
    margin-bottom: 20%;
    padding-left: 10%;
    margin-left: 5%;
}

.article-card-img {
    width: 100%;
}

.article-card-img-caption{
    font-size:1px;
    color: whitesmoke;
}

.article-btn {
    margin-top: 10%;
    margin-left: 25%;
    font-size: 18px;
    font-weight: 300;
    background-color: royalblue;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 1% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.articles-spinner{
    position: relative;
    margin-top: 15%;
    left: 50%;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2%;
}

.date, .readtime{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: gray;
}

#menu-container {
    max-width: 90%;
}

//react transition group
.remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  @media only screen and (max-width: 1500px) and (min-width: 600px){
    .article-card {
        width: 350px;
    }    
  }

  .article-pagination {
      margin-left: 45%;
  }

  .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: royalblue; ;
    border-color: royalblue; 
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid royalblue; 
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: royalblue;;
    border-color: royalblue;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: royalblue;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }