.articles {
    grid-column-start: 2;
    grid-column-end: 9;
    background-color: #FFFFFF;
    margin-top: 1%;
    .step-title {
        font-weight: 300;
        font-size: 24px;
    }
 }
 
 .title{
    font-size: 20px;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 5%;
}

.article-card {
    width: 400px;
    border: none;
    margin-top: 2%;
    margin-bottom: 20%;
    padding-left: 10%;
    margin-left: 5%;
}

.article-card-img {
    width: 100%;
}

.article-card-img-caption{
    font-size:1px;
    color: whitesmoke;
}

.article-btn {
    margin-top: 15%;
    margin-left: 15%;
    font-size: 20px;
    font-weight: 300;
    background-color: royalblue;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 2% 12%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2%;
}

.date, .readtime{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: gray;
}

#menu-container {
    max-width: 90%;
}

//react transition group
.remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }